:root {
    --main-bg-color: #F3F7F9;
    --main-accent: #1DA1F2;
    --second-accent: #8797a5;
    --main-text-color: #16202C;
    --secondary-container-bg: #005FD1;
    --links-bg: #DDE1E3;
    --text-xs: .8em;
    --white: white;
}

@import url(//db.onlinewebfonts.com/c/fb04898d5b14da735b1fdf6e4958d214?family=Helvetica+Neue+LT+Com);
@import url(//db.onlinewebfonts.com/c/b9c4b6f31f1d4c4c9755b89abb981506?family=Helvetica+Neue+LT+Pro);

/*0. General*/

.col-1 {width: 100%;}
.col-2 {width: 100%;}
.col-3 {width: 100%;}
.col-4 {width: 100%;}
.col-5 {width: 100%;}
.col-6 {width: 100%;}
.col-7 {width: 100%;}
.col-8 {width: 100%;}
.col-9 {width: 100%;}
.col-10 {width: 100%;}
.col-11 {width: 100%;}
.col-12 {width: 100%;}

* {
    font-family: 'Helvetica Neue LT', 'Helvetica Neue', -apple-system, 'BlinkMacSystemFont', 'Segoe UI', 'Helvetica', 'Arial', 'sans-serif'; 
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--main-bg-color);
    padding: 0px;
    margin: 0px;
}

a.active {
    color: black !important;
    opacity: 1;
    transition: all .3s ease;
}

a.active.white {
    color: white !important;
    opacity: 1;
    transition: all .3s ease;
}

a.active.white.bullet:before {
    content: "";
    padding: 3px;
    background-color: white;
    position: absolute;
    left: 30px;
    margin-top: 12px;
    border-radius: 50%;
    transition: all .3s ease;
}

a.active:before {
    content: "";
    padding: 3px;
    background-color: black;
    position: absolute;
    left: 30px;
    margin-top: 12px;
    border-radius: 50%;
    transition: all .3s ease;
}

.white {
    color: var(--white) !important;
}
.blue {
    color: var(--main-accent) !important;
}

.side-link.white {
    color: white;
    opacity: .5;
}

.st0.white  {
    fill: white;
}

.well-being-list a:hover .arrow-link {
    opacity: 1;
    margin-left: 0px;
}

.well-being-list .arrow-link {
    opacity: 0;
    margin-left: -25px;
    transition: all .3s ease;
}

#footer a:hover {
    color: white;
}

/*1. BASE*/

/***1.1. CONTAINERS*/

/*****1.1.1. Container Blue*/

.secondary-container-blue {
    background-color: #096ade;
    color: var(--main-bg-color);
}

.secondary-container-blue .arrow {
    background: #1ea1f2;
}

.secondary-container-blue .col-card:hover {
    background-color: #2679f5;
}

.secondary-container-blue .category::before {
    background: #1DA1F2;
}

.secondary-container-blue .pretitle-xs {
    color: #52bdff;
}

.secondary-container-blue .text-xxl {
    color: #1DA1F2 !important;
}

/*****1.1.2. Container Purple*/

.secondary-container-purple {
    background-color: #500399;
    color: var(--main-bg-color);
}

.secondary-container-purple .arrow {
    background: #A37CED;
}

.secondary-container-purple .col-card:hover {
    background-color: #6e1dbd;
}

.secondary-container-purple .category::before {
    background: #A37CED;
}

.secondary-container-purple .pretitle-xs {
    color: #A37CED;
}

.secondary-container-purple .text-xxl {
    color: #A37CED !important;
}

/*****1.1.3. Container Green*/

.secondary-container-green {
    background-color:#028A51;
    color: var(--main-bg-color);
}

.secondary-container-green .arrow {
    background: #18BF63;
}

.secondary-container-green .col-card:hover {
    background-color: #059e5d;
}

.secondary-container-green .category::before {
    background: #18BF63;
}

.secondary-container-green .pretitle-xs {
    color: #38d895;
}

.secondary-container-green .text-xxl {
    color: #18BF63 !important;
}

/*****1.1.4. Container Orange*/

.secondary-container-orange {
    background-color: #D82E18;
    color: var(--main-bg-color);
}

.secondary-container-orange .arrow {
    background: #f97c6c;
}

.secondary-container-orange .col-card:hover {
    background-color: #f54833;
}

.secondary-container-orange .category::before {
    background: #f97c6c;
}

.secondary-container-orange .pretitle-xs {
    color: #ff8d73;
}

.secondary-container-orange .text-xxl {
    color: #ff6f5d !important;
}

/*****1.1.5. Container Pumpkin*/

.secondary-container-pumpkin {
    background-color: #F98E00;
    color: var(--main-bg-color);
}

.secondary-container-pumpkin .arrow {
    background: #ffc06d;
}

.secondary-container-pumpkin .col-card:hover {
    background-color: #ff9e1f;
}

.secondary-container-pumpkin .category::before {
    background: #ffc06d;
}

.secondary-container-pumpkin .pretitle-xs {
    color: #ffc16f;
}

.secondary-container-pumpkin .text-xxl {
    color: #ffc06d !important;
}

/*****1.1.6. Container Wine*/

.secondary-container-wine {
    background-color: #A01844;
    color: var(--main-bg-color);
}

.secondary-container-wine .arrow {
    background: #da376c;
}

.secondary-container-wine .col-card:hover {
    background-color: #bd1d51;
}

.secondary-container-wine .category::before {
    background: #da376c;
}

.secondary-container-wine .pretitle-xs {
    color: #ff5089;
}

.secondary-container-wine .text-xxl {
    color: #da376c !important;
}

/********/

/*2. ELEMENTS*/

.hero-main-container, .secondary-container-purple, .secondary-container-blue, .secondary-container-green, .secondary-container-orange, .secondary-container-pumpkin, .secondary-container-wine {
    padding: 0 50px 10em 50px;
}

#topnav {
    display: none;
}

h1, .title-xxl {
    line-height: .97;
    max-width: unset;
    letter-spacing: normal;
    margin: 1em 0 .3em 0;
    font-weight: 900;
    display: inline-block;
}

h1 {
    font-size: 6em;
}

.title-xxl {
    font-size: 10em; 
    color: white;
}

a {
    text-decoration: none;
}

.hero-main-description {
    color: var(--second-accent);
    margin-top: 5rem;
    font-size: 2em;
    line-height: 1.04545;
    letter-spacing: normal;
    max-width: 100%;
    margin-bottom: 10rem;
}

.pretitle-m {
    font-weight: 600;
    font-size: 2.5em;
    line-height: normal;
    letter-spacing: normal;
    color: var(--main-bg-color);
}

.text-xl {
    font-weight: 600;
    font-size: 2.5em;
    line-height: normal;
    letter-spacing: normal;
    color: var(--second-accent);
}

.text-xxl {
    font-weight: 600;
    font-size: 7em;
    letter-spacing: normal;
    margin: .2em 0 0 0;
    line-height: 1em;
}

.text-xs-grey, .pretitle-xs-grey {
    font-size: var(--text-xs);
    font-weight: 900;
    color: var(--second-accent)
}

.pretitle-xs {
    font-size: var(--text-xs);
    font-weight: 900;
}

.font-m {
    font-size: 1.3em;
    font-weight: 500;
}

.grid-cards h4 {
    margin-bottom: 0em;
    margin-top: 1em;
    font-size: 4em;
}

.col {
    margin: 7em 0 7em 0;
}

.section-1 {
    margin-top: 15em;
}

.sidebar-left .logo a:hover {
    background-color: unset;
}

.menu ul a {
    margin-right: 30px;
}

.header {
    display: grid;
    grid-template-columns: 1fr 6fr;
    justify-content: center;
    align-items: center;
    padding: 10px 30px 10px;
}

.header a {
    color: var(--main-accent);
    font-weight: normal;
}

.menu {
    display: none;
}

.menu ul {
    display: flex;
    list-style: none;
    padding: 0px;
}

.tools .text-xs {
    max-width: unset;
    font-size: var(--text-xs);
    font-weight: 600;
    color: var(--second-accent);
}

.number {
    font-size: 1.5em;
    vertical-align: middle;
    margin-top: -4.3px !important;
    display: inline-block;
    color: white;
}

.well-being-list a {
    color: white;
    font-weight: 900;
    font-size: 1.1em;
}

.well-being-list ul {
    padding: 0px;
    line-height: 4em;
    list-style: none;
}

.sidebar-left {
    position: relative;
    width: 90%;
    background-color: unset;
    top: 50px;
    padding-left: 25px;
    overflow-y: initial;
    z-index: unset;
}

.links-sidebar-left li {
    margin: .5em 0 .5em 0;
}

.links-sidebar-left a {
    padding: 15px 30px 15px 30px;
    color: var(--second-accent);
    font-weight: 600;
    transition: all .3s ease;
}

.links-sidebar-left a:hover {
    background-color: var(--links-bg);
    border-radius: 50px;
    color: black !important;
    opacity: .7;
}

.links-sidebar-left ul {
    list-style: none;
    padding: 0px;
}

.ver-line {
    position: relative;
    font-size: 1em;
}

.ver-line:after {
    content: "";
    width: 65%;
    height: 5px;
    background: white;
    bottom: 0px;
    position: absolute;
    left: 200px;
    top: 23px;
}

.category {
    position: relative;
    font-size: 2.1em;
    font-weight: 500;
    margin-left: 70px;
}

.category:before {
    content: "";
    width: 45px;
    height: 45px;
    border-radius: 50%;
    position: absolute;
    top: 11.5px;
    left: -65px;
    z-index: 999;
}

.card-button {
    background: none;
    border: none;
    font-size: 2.5em;
    color: white;
    font-weight: 600;
    padding: 0px;
}

.well-being {
    margin: 2em 0px 3em 0px;
}

.keep-scrolling {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 3em;
    margin-top: 5em;
    align-items: center;
}

.logo {
    position: relative;
    margin-bottom: 4em;
}

.logo svg {
    transform: scale(3) translate(43px, 5px);
    margin-bottom: 4em;
}

.col-card {
    min-height: 45rem;
    border-radius: 2rem;
    border: solid 4px white;
    color: #fff;
    display: flex;
    flex-direction: column;
    padding: 4rem;
    width: auto;
    transition: .334s cubic-bezier(0,0,0,1);
    margin: 3.5em 0px 3.5em 0px;
}

.col-card:hover {
    transform: scale(.95);
    border: none;
    box-shadow: 0px 3px 18px 0px #00000014;
}

.col-card p {
    font-weight: 600;
    letter-spacing: .2px;
    max-width: 95%;
    margin-bottom: 2em;
    font-size: 2.3em;
    line-height: 1.3em;
}

.col-card-container {
    margin-top: auto;
}

.arrow {
    font-size: 3em;
    line-height: 2em;
    content: "";
    width: 100px;
    height: 100px;
    position: absolute;
    right: -8px;
    bottom: -70px;
    border-radius: 50%;
    color: white;
    text-align: center;
    font-weight: 900;
}

.arrow-container {
    position: relative;
    float: right;
}

#footer {
    display: block;
    padding: 40px 30px 50px 30px;
    background-color: #14171A;
    color: #cacaca;
}

#footer a {
    color: #cacaca;
}


/*3. MEDIA QUERIES*/

/***3.1. iPad and Tablets*/

@media only screen 
and (min-device-width: 768px) 
and (max-device-width: 1224px) {

    .secondary-container-purple, .secondary-container-blue, .secondary-container-green, .secondary-container-orange, .secondary-container-pumpkin, .secondary-container-wine {
        padding: 0 50px 10em 50px;
    }

    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}

    .grid-cards {
        display: grid;
        grid-gap: 1.8em;
        margin-top: 5em;
        grid-template-columns: 1fr 1fr;
    }

    .well-being-list ul {
        line-height: 2.5em;
    }

    .number {
        font-size: 0.7em;
    }

    body {
        background-color: var(--main-bg-color);
        padding: 0px;
        margin: 0px;
    }

    .ver-line:after {
        content: "";
        width: 65%;
        height: 2px;
        background: white;
        bottom: 0px;
        position: absolute;
        left: 80px;
        top: 12px;
    }

    .links-sidebar-left li {
        margin: 0.5em 0 0.5em 0;
        font-size: 2em;
    }

    .col-card {
        margin: 0px;
        width: auto;
        padding: 2.5rem;
        min-height: 21rem;
        border: solid 3px white;
        min-height: 34rem;
    }

    .tools .text-xs {
        font-size: 1.2em;
    }

    .pretitle-xs-grey {
        font-size: 1.4em;
    }

    .category {
        font-size: 1.2em;
    }

    .category:before {
        content: "";
        width: 30px;
        height: 30px;
        top: 0px;
    }

    .well-being {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 6em;
        margin: 2em 0px 3em 0px;
    }

    .logo {
        margin-bottom: 2em;
    }

    .logo svg {
        transform: scale(2.2) translate(38px, 10px);
    }

    h1 {
        font-size: 5em;
    }    

    .header {
        display: none;
    }

    .text-xxl {
        font-size: 7em;
    }

    .tools {
        border-left: solid 2px var(--main-accent);
        padding-left: 20px;
        height: 215px;
        max-width: 90%;
        vertical-align: middle;
    }

    .col-card-container p {
        font-size: 1.6em;
    }

    .keep-scrolling {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .grid-cards h4 {
        font-size: 3em;
    }

    .card-button {
        font-size: 1.5em;
    }

    .arrow {
        font-size: 2em;
        line-height: 2em;
        content: "";
        width: 60px;
        height: 60px;
        position: absolute;
        right: -8px;
        bottom: -40px;
        border-radius: 50%;
        color: white;
        text-align: center;
        font-weight: 900;
    }

    #footer {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        justify-content: center;
        align-items: center;
    }

    #footer div {
        text-align: center;
    }
}

/***3.3. Laptops and Desktops*/

@media only screen and (min-width: 1224px) {

.secondary-container-blue, .secondary-container-purple, .secondary-container-green, .secondary-container-orange, .secondary-container-pumpkin, .secondary-container-wine {
    padding: .1em 100px 10em 290px;
}

#topnav {
    display: inherit;
}

.section {
    padding: 7em 0 0 0;
}

.pretitle-xs-grey {
    font-size: 0.8em;
}

.hero-main-container {
    padding: 0em 100px 10em 290px;
}

.arrow {
    font-size: 1.2em;
    line-height: 2em;
    content: "";
    background:var(--main-accent);
    width: 40px;
    height: 40px;
    position: absolute;
    right: -8px;
    bottom: -20px;
    border-radius: 50%;
    color: white;
    text-align: center;
    font-weight: 900;
}

.arrow-container {
    position: relative;
    float: right;
}

.menu a:hover {
    border-bottom: solid 1px #1ea1f2;
    padding-bottom: 3px;
}

.menu a {
    transition: all .2s ease;
}

.links-sidebar-left a {
    padding: 7px 13px 7px 13px;
}

.links-sidebar-left ul {
    list-style: none;
    padding: 0px;
    line-height: 1.8em;
}
        
.grid-cards h4 {
    font-size: 1.9em;
}

.col-card-container p {
    font-size: 1.05em;
}

.card-button {
    font-size: .8em;
}

.category:before {
    top: 3px;
    left: -22px;
    width: 15px;
    height: 15px;
}

.category {
    position: relative;
    font-size: 1em;
    margin-left: 20px;
}    

.well-being-list ul {
    line-height: 2.3em;
}    

.links-sidebar-left li {
    font-size: 1em;
}

.col-card {
    display: flex;
    border: solid 2px white;
    min-height: 21rem;
    border-radius: 1.3rem;
    padding: 1.8rem;
    width: 80%;
}

.logo {
    position: fixed;
    top: 35px;
}

.logo svg {
    transform: scale(0.9) translate(-12px, -10px);
}

.header {
    display: grid;
    margin-left: 30px;
}    

.sidebar-left {
    position: fixed;
    width: 250px;
    top: 170px;
    background-color: unset;
    padding-left: 2rem;
    overflow-y: initial;
    z-index: unset;
}    

.section-1 {
    margin-top: unset;
}

.hero-main-description {
    color: var(--second-accent);
    margin-top: 5rem;
    font-size: 1.8em;
    line-height: 1.04545;
    letter-spacing: normal;
    max-width: 40vw;
    margin-bottom: 26rem;
}

.text-xl {
    font-size: 1.8em;
}

.text-xxl {
    font-size: 6.5em;
}

h1, .title-xxl {
    line-height: .97;
    max-width: 65vw;
    letter-spacing: normal;
    margin: 1em 0 1em 0;
    font-weight: 900;   
}

h1 {
    font-size: 6.3em;
}

.title-xxl {
    font-size: 9em;
    margin: unset;
    display: inline-block;
}

.menu {
    display: flex;
    justify-items: center;
}

.text-xl {

    max-width: 40vw;
}

.text-xxl {
    max-width: 60vw;
}

.section-xl {
    margin-bottom: 10em;
}

.keep-scrolling {
    display: grid;
    grid-template-columns: 2fr 1fr;
    margin: 7em 0 3em 0;
}

.well-being {
    display: grid;
    grid-template-columns: 3fr 2fr;
    grid-gap: 10em;
    margin-top: 1em;
    margin-bottom: 1em;
}

.tools .text-xs {
    max-width: 19vw;
    font-size: var(--text-xs);
    font-weight: 600;
    color: var(--second-accent);
}

.tools {
    border-left: solid 2px var(--main-accent);
    padding-left: 20px;
    height: 111px;
    vertical-align: middle;
}

.ver-line:after {
    width: 85%;
    height: 2px;
    left: 80px;
}

.grid-cards {
    display: flex;
    grid-gap: 1.8em;
    margin-top: 5em;
    position: relative;
}

.grid-cards a {
    width: 33%;
    margin: 15px;
    color: white;
}
}